@import '../../index.scss';


.topBar{
    background-color: $DarkBlue;
    height: 50px;
    color: $textClr;
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text{
        h3{
            font-family: $text;
        }
    }
}
}