@import "../../index.scss";

.navbar{
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img{
            width: 13%;
            img{
             width: 100%;
            }
        }
        .listItems{
            a{
                font-family: "title";
                text-decoration: none;
                span{
                    margin-left: 15px;
                    text-transform: uppercase;
                    
                }
            }
        }
    }
}