@import "../../index.scss";
#footer{
    position: relative;
    background-color: $DarkBlue;
    color: $textClr;
    background-image: url('./images/factory.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    section,div{
        position: relative;
        z-index: 1;
        
    }
    .overlay{
        background-color: $DarkBlue;
        opacity: 0.95;
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
       
    }
}