* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


$DarkBlue:#131722;
$mainBlue:#010B40;
$lightGray:#4F5873;
$DarkGreen:#127357;
$MediumGreen:#17BF60;
$lightGreen:#1ED96F;
$textClr:#ffffff;

body{
color: $textClr;
}