@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Work+Sans:wght@400&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


$DarkBlue:#131722;
$mainBlue:#010B40;
$lightGray:#4F5873;
$DarkGreen:#127357;
$MediumGreen:#17BF60;
$lightGreen:#1ED96F;
$textClr:#ffffff;

$text: 'Work Sans', sans-serif;
$title: 'Merriweather', serif;

body{
background-color:$mainBlue;
color: $textClr;
}