@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Work+Sans:wght@400&display=swap');
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "title";
  src: url("../src/Fonts/futura\ medium\ bt.ttf");
}
@font-face {
  font-family: "calibri";
  src: url("../src/Fonts/Calibri\ Regular.ttf");
}

$DarkBlue:#131722;
$mainBlue:#010B40;
$lightGray:#4F5873;
$DarkGreen:#127357;
$MediumGreen:#17BF60;
$lightGreen:#1ED96F;
$textClr:#ffffff;

$text: 'Work Sans', sans-serif;
$title: 'Merriweather', serif;


@mixin borderRadius($x) {
  border-radius: $x;
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  -o-border-radius: $x;
}

.hoverClr{
  background-color: $DarkGreen;
}